/* body {
  background-color: #eff4f7;
  color: #000;
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif
} */

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

.content-area {
  max-width: 90%;
  margin: 0 auto;
}

.box {
  /* border: #777 solid 5px; */
  /* background-color: #eff4f7; */
  padding: 10px;
  margin: 5px
}

/* .dataTables_scrollBody {
  height: 350px !important;
} */

table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
  display: none;
}

table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
  display: none;
}